@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --fonte-principal: 'Poppins', sans-serif;

    --background-color: #0A4D68;
    --cor-primaria: #E6FFFD;
    --cor-secundaria: #088395;
    --cor-hover: #00FFCA;
}

body {
    background-color: var(--background-color);
    color: var(--cor-primaria);
    min-height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-principal);
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 2.5em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid #ACBCFF;
    display: inline-block;
    font-size: 3em;
    padding: 10px;
    margin: 20px;
}

.dica {
    font-weight: 500;
    font-size: 28px;
    color: var(--cor-primaria)
}

.acertou {
    font-size:36px;
    font-weight: 800;
    
}

.errou {
    font-size:36px;
    font-weight: 800;
}

.text-botaoJogarNovamente {
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: var(--cor-secundaria);
    border-radius: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cor-primaria);
    text-transform: uppercase;
}

.btn-jogar:hover {
    cursor: pointer;
    background: var(--cor-hover);
}

.imagem {
    width: 300px;
    margin-bottom: 30px;
}

#maior-valor, #menor-valor {
    color: #00FFCA;
}

@media screen and (max-width: 1024px) {
    h1 {
        font-size: 10vw;
        padding: 10px;
    }

    h3 {
        font-size: 5vw;
        padding: 10px;
    }

    .mensagem div {
        font-size: 1em;
    }

    .box {
        font-size: 2em;
    }

    .text-numeroSecreto {
        font-size: 3em;   
    }
}

@media screen and (max-width: 700px) {
    .text-botaoJogarNovamente {
        font-size: 7vw;
    }

    .text-numeroSecreto {
        font-size: 7vw;
    }
}